---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="About">
  <main>
      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" checked="checked" />
        <div class="collapse-title font-semibold">What files do I get?</div>
        <div class="collapse-content text-sm">Ever eBook comes with multiple file formats: .epub, .kepub, .azw3, .mobi, and .pdf. This ensures that you are able to read it on any device.</div>
      </div>
      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">How will I receive my purchase?</div>
        <div class="collapse-content text-sm">All files will be sent to the email you specified when making an order.</div>
      </div>
      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">How do I contact Dragon Publishing?</div>
        <div class="collapse-content text-sm">Email info@dragonpublishing.com. We are very responsive.</div>
      </div>
  </main>
</Layout>
