---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Catalog">
  <div class="card bg-base-100 w-36 sm:w-44 md:w-52 lg:w-60 shadow-lg hover:shadow-2xl transition-shadow duration-300 transform hover:-translate-y-1 hover:scale-105 relative">
    <figure style="aspect-ratio: 6 / 9;" class="w-full overflow-hidden">
      <img src="/cover080-cropped.jpg" alt="Cover of 1984 by George Orwell" class="w-full h-full object-contain" />
    </figure>

    <div class="card-body pb-12">
      <h3 class="text-sm text-gray-600">George Orwell</h3>
      <h2 class="card-title text-base">1984</h2>
    </div>

    <span class="absolute bottom-4 right-4">£4.99</span>
  </div>
</BaseLayout>