---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SUPPORT_EMAIL } from '../lib/constants';
---

<BaseLayout title="Privacy Policy">
  <div class="max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold mb-8">Privacy Policy</h1>

    <section class="prose prose-lg">
        <p>We collect a single piece of information: your email address. This is done so we can deliver your eBooks and assist you if you have any issues with your order.</p>
        <br/>
        <p>We use <a href="https://stripe.com/">Stripe</a> to handle payments. They collect and handle all the information necessary to process your payment.</p>
        <br/>
        <p>You can request the deletion of your email address at any time and for any reason by emailing us at <a href={`mailto:${SUPPORT_EMAIL}`}>{SUPPORT_EMAIL}</a>.</p>
    </section>
  </div>
</BaseLayout>
